<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include ConQAT.wxi ?>

	<Fragment>
		<ComponentGroup Id="edu.tum.cs.conqat.blocklib">
			<ComponentRef Id="cmpB81D2863AA585151AE1215D3E8A1D1BA" />
			<ComponentRef Id="cmp9CEFF83D81045F27F31971B7761351E8" />
			<ComponentRef Id="cmp0795B024E324A01926B76D81C9807110" />
			<ComponentRef Id="cmpA48B27C6325B81C1335F5E1073708F40" />
			<ComponentRef Id="cmp4929666C8194AF184709A069C8E21259" />
			<ComponentRef Id="cmpBB530285FDCC6344FAA4A8DDC04F2B49" />
			<ComponentRef Id="cmp44B9025AA8101B72B2665724767AEF14" />
			<ComponentRef Id="cmp0F1BD0362A952D356C76B86D548347F6" />
			<ComponentRef Id="cmpF42735DEC41D38F4F42F9AE45AB91942" />
			<ComponentRef Id="cmpF453B9209CBAD67945431586C5A5D870" />
			<ComponentRef Id="cmpA14FEC1654B80FD88F4F1A411C8FFDD3" />
			<ComponentRef Id="cmp5C843D07F954695EC1220DD338E032CA" />
			<ComponentRef Id="cmp0EB1A6E7E7D6E0BD20C3E6023BCCB35D" />
			<ComponentRef Id="cmp091EB3043485832B96AF6755A262CEBB" />
			<ComponentRef Id="cmp053834164827EC027F4551843B1B84D0" />
			<ComponentRef Id="cmp66C394AD48BEAEDCB656A4475E1C3098" />
			<ComponentRef Id="cmpED6D1405A2C5588BE9DCC1828A48C1F3" />
			<ComponentRef Id="cmp6F02D40762524DB4BDE7B3BAB9B482B1" />
			<ComponentRef Id="cmp22D7FA68E8895590951B878FE9397128" />
			<ComponentRef Id="cmpC68355DEEC5DC1C665A9B96F22AE7366" />
			<ComponentRef Id="cmpC1EDC46DD1861F6A04CC895E96E8679B" />
		</ComponentGroup>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="bundles">
			<Directory Id="dir154B5AD5BF1B9CCE9011CD149DC620ED" Name="edu.tum.cs.conqat.blocklib">
				<Component Id="cmpB81D2863AA585151AE1215D3E8A1D1BA" Guid="{A9B85E9D-FC22-49D0-A7ED-31203DFB65C7}">
					<File Id="fil81982DD4E926E2FD24FFEAC1F5A9707B" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)bundle.html" />
				</Component>
				<Component Id="cmp9CEFF83D81045F27F31971B7761351E8" Guid="{078BF3A4-B1FA-4C99-B52A-F8B8E31B2D82}">
					<File Id="filC022469ACEE93D2E5F0075DEAA8AF292" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)bundle.xml" />
				</Component>
				<Directory Id="dir9011D78F430973907204B192DF6D2C2D" Name="blocks">
					<Directory Id="dir1D36BE43444312AC8E3EAB31D6460BBA" Name="architecture">
						<Component Id="cmp0795B024E324A01926B76D81C9807110" Guid="{6946BE9C-2918-4546-8366-EC5C9B954BC3}">
							<File Id="fil848905CCA1EACEE34ECE5AAC61621054" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\architecture\LoadILDependencies.cqb" />
						</Component>
						<Component Id="cmpA48B27C6325B81C1335F5E1073708F40" Guid="{DF7DDC3E-738B-4275-A209-3437E02F5A0B}">
							<File Id="fil4809393FAF996BD82BFBA179D8BD94E1" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\architecture\LoadJavaDependencies.cqb" />
						</Component>
					</Directory>
					<Directory Id="dir736C6FF83F57AA3CB060CF57AC01D759" Name="clonedetective">
						<Component Id="cmp4929666C8194AF184709A069C8E21259" Guid="{122525A5-7C35-4D39-A938-53EB629DAD9E}">
							<File Id="fil42C5B91233862B2E953AFD85B895AE4E" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\clonedetective\CloneTrendOutput.cqb" />
						</Component>
					</Directory>
					<Directory Id="dirB1959E07CB5F1FFB19A9945DFF6DA916" Name="commons">
						<Component Id="cmpBB530285FDCC6344FAA4A8DDC04F2B49" Guid="{68D466CD-B3B2-4170-B58D-96C447B42829}">
							<File Id="fil52387FDCE4D8B598D1785E09D56D9A66" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\commons\AssessmentChain.cqb" />
						</Component>
						<Component Id="cmp44B9025AA8101B72B2665724767AEF14" Guid="{E6E41A22-C2B4-4235-A7A9-AAA4BEA91466}">
							<File Id="fil8B7055F32CBC05C058C760D9159F99EC" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\commons\OverviewChain.cqb" />
						</Component>
					</Directory>
					<Directory Id="dir4AB733B6B7E96EFE12407EEA82E6E4A2" Name="database">
						<Component Id="cmp0F1BD0362A952D356C76B86D548347F6" Guid="{50417C99-5988-4CF7-B83D-74C86D3936D3}">
							<File Id="filA439BE4B0378B4DE59197F60B593D180" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\database\DBTableNameCleaner.cqb" />
						</Component>
						<Component Id="cmpF42735DEC41D38F4F42F9AE45AB91942" Guid="{22FDD001-383E-4519-8824-65BC6725B04B}">
							<File Id="fil1D833B34D31AE449922834B1E953E015" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\database\NamedValueSeriesChain.cqb" />
						</Component>
					</Directory>
					<Directory Id="dir598619AA14FE10CAAE97BA766A4761AD" Name="filesystem">
						<Component Id="cmpF453B9209CBAD67945431586C5A5D870" Guid="{FED13187-F183-40F0-BEAE-6D9C2815038F}">
							<File Id="fil5BE9F765467860C668D5106841E982B1" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\filesystem\LOCChain.cqb" />
						</Component>
						<Component Id="cmpA14FEC1654B80FD88F4F1A411C8FFDD3" Guid="{791C1567-1AE7-4065-9754-50C9380567D1}">
							<File Id="filF3E529F0B88EC5DFD1663860F50E6EBF" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\filesystem\LOCChartChain.cqb" />
						</Component>
					</Directory>
					<Directory Id="dirA8017D5EAF8F6D28F5D221FAAF7CF2F5" Name="qlaunch">
						<Directory Id="dirAA33F6711748BE32D409D218450479EE" Name="basic">
							<Component Id="cmp5C843D07F954695EC1220DD338E032CA" Guid="{2F9EDD02-9A5E-4B86-B06E-56EE2207AE75}">
								<File Id="fil4DAA3EEAE9B4F63FAF0DD380FD139F5C" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\qlaunch\basic\LOCAnalysis.cqb" />
							</Component>
						</Directory>
						<Directory Id="dir1AF57D319C99194229D68081C40C3D3F" Name="java">
							<Component Id="cmp0EB1A6E7E7D6E0BD20C3E6023BCCB35D" Guid="{C7F2E914-6382-4879-93F2-80D63D565AD2}">
								<File Id="filBBFCCF76D3724DDD365635A24160CBB5" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\qlaunch\java\JavaCloneDetection.cqb" />
							</Component>
							<Component Id="cmp091EB3043485832B96AF6755A262CEBB" Guid="{EE4C1303-D116-441D-9C5F-BA3A9098335D}">
								<File Id="filD2CE842F519309AC8CC72AE01B3D157F" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\qlaunch\java\JavaDocAnalysis.cqb" />
							</Component>
							<Component Id="cmp053834164827EC027F4551843B1B84D0" Guid="{9648677B-A41C-4DCD-B393-5CD57A5D3FFB}">
								<File Id="fil4541107F375774FF808FAE0E93347E19" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\qlaunch\java\JavaDocChain.cqb" />
							</Component>
							<Component Id="cmp66C394AD48BEAEDCB656A4475E1C3098" Guid="{A1A3ABBA-7F19-479D-9D83-4FCF2A63C4EE}">
								<File Id="fil60A48FEA06D02A64F75068D6768AAF0B" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\qlaunch\java\JavaGappedCloneDetection.cqb" />
							</Component>
							<Component Id="cmpED6D1405A2C5588BE9DCC1828A48C1F3" Guid="{3C244BE6-06D5-4BCF-9C40-359AED81086C}">
								<File Id="fil90A1CDCD75B2D92D86641A01F2C7F747" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\qlaunch\java\JavaShapedCloneDetection.cqb" />
							</Component>
						</Directory>
					</Directory>
					<Directory Id="dirE3A2B145C07540016BAF19B73B271905" Name="sourcecode">
						<Component Id="cmp6F02D40762524DB4BDE7B3BAB9B482B1" Guid="{EC154357-B2C5-4809-AC1A-7E3703A73727}">
							<File Id="fil8284ED976789EAFFDFEDEFB9848A6E0D" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\sourcecode\SLOCChain.cqb" />
						</Component>
						<Component Id="cmp22D7FA68E8895590951B878FE9397128" Guid="{37307CB2-89F7-469C-A080-CDC2839340B1}">
							<File Id="fil77EC5C1D4C3158F982291E96C5EEDA74" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\sourcecode\TodoChain.cqb" />
						</Component>
					</Directory>
					<Directory Id="dirE24AD564FC01927D78740E640430C82A" Name="svn">
						<Component Id="cmpC68355DEEC5DC1C665A9B96F22AE7366" Guid="{F8AA799E-F0E8-48DB-B785-E4A91381777F}">
							<File Id="fil71C008647C2E652B7269D721D787B3EA" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\svn\SVNChain.cqb" />
						</Component>
					</Directory>
					<Directory Id="dirA77CFCBB11CB75B26BCF406F19153C41" Name="text">
						<Component Id="cmpC1EDC46DD1861F6A04CC895E96E8679B" Guid="{CC9E173E-7D23-4499-B7D2-420F8E30562C}">
							<File Id="filDA0AC51EC04D79130F9F02F7C1F50540" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.blocklib)blocks\text\LanguageTreeMap.cqb" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>