<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include ConQAT.wxi ?>

	<Fragment>
		<ComponentGroup Id="edu.tum.cs.conqat.sourcecode">
			<ComponentRef Id="cmpEA26DA7A29723F64CD05ACDA9D8536AB" />
			<ComponentRef Id="cmp079272AA52A3E9F3DFA01E642468B0F0" />
			<ComponentRef Id="cmp28EB5988AE32977525921EE560AD369D" />
			<ComponentRef Id="cmp0C636D998E445D1254776EC5775769C6" />
			<ComponentRef Id="cmp95B6A13F56F3B1E9EC1B4090740D26F9" />
			<ComponentRef Id="cmp96523ADB2B7D1A4867EB526B4BFBA5E2" />
			<ComponentRef Id="cmpDB371313D46BA8312CA149D47D7A11DB" />
			<ComponentRef Id="cmpDF03FE346FF3042EC8F3BB39E67373CE" />
			<ComponentRef Id="cmp5A639B8CA329775291AE8A6DC7077317" />
			<ComponentRef Id="cmpEF0827A26BDAD24667E2915260BC87F2" />
			<ComponentRef Id="cmpFBE22966A2032470C9169DFCC7CFDB9A" />
			<ComponentRef Id="cmpD5D15DF410480A0DF923957B326918C8" />
			<ComponentRef Id="cmp33F1D3E0AC5AD5AF82B58FCAA34C406A" />
			<ComponentRef Id="cmpF40F7060EE8CB033255DD9FA54C8671C" />
			<ComponentRef Id="cmpAAB819ACA20559F26308E4139E154D5F" />
			<ComponentRef Id="cmp5A922619435F1EFB9BE8593443EBA9DF" />
			<ComponentRef Id="cmp88A620116C51C112ECB340E769139F75" />
			<ComponentRef Id="cmpE2D0E87ABCCAF8C69832D18EFD0FF2D2" />
			<ComponentRef Id="cmpC726BB1F2079D3427EA89E3D29EC6665" />
			<ComponentRef Id="cmpAAAD4F67DE4AC738295B7A93FEFDC0DE" />
		</ComponentGroup>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="bundles">
			<Directory Id="dirA72C141CDDD25AD3593AC8DE8AC021FE" Name="edu.tum.cs.conqat.sourcecode">
				<Component Id="cmpEA26DA7A29723F64CD05ACDA9D8536AB" Guid="{E258FC32-EB10-4195-8BD1-4ABBAAD14023}">
					<File Id="fil0A82F83AA136C9BB46DFDB450B26A0CE" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)bundle.html" />
				</Component>
				<Component Id="cmp079272AA52A3E9F3DFA01E642468B0F0" Guid="{CACAF39D-FE98-4F77-8D52-4988281FC23A}">
					<File Id="fil84C75D8181B2662D5044645B1880EDFE" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)bundle.xml" />
				</Component>
				<Directory Id="dir532875DB5BE9361139F0F21E18153B60" Name="classes">
					<Directory Id="dirAE02055C287D3460350EA16A04CFCFD8" Name="edu">
						<Directory Id="dir53C538AEBAEB78375F9F51BCDC9DE41B" Name="tum">
							<Directory Id="dirF9D76E622782E27669163C6BB1185409" Name="cs">
								<Directory Id="dir574FDFD7D9015904E4EDB43E3BE588F8" Name="conqat">
									<Directory Id="dirE34F51CAFEE1B17906E61E496E0A19B8" Name="sourcecode">
										<Directory Id="dir289A967943928C1010EB254E5BBBEE87" Name="analysis">
											<Component Id="cmp28EB5988AE32977525921EE560AD369D" Guid="{60A7023F-BEEC-4930-A478-ABC428508A11}">
												<File Id="filF9D65B0012190A19BA77C8FAACC6D077" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\analysis\BlockMarker.class" />
											</Component>
											<Component Id="cmp0C636D998E445D1254776EC5775769C6" Guid="{B2EC3C64-EF4F-4D09-8F9F-AAD6BC4DD8A1}">
												<File Id="fil2174A6F79D72D22D66F7BA09D5359820" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\analysis\CommentRatioAnalyzer.class" />
											</Component>
											<Component Id="cmp95B6A13F56F3B1E9EC1B4090740D26F9" Guid="{0400AA8A-EF28-487C-8356-5949DC9069A4}">
												<File Id="filCC602965F6643EC85A26E06B1641F3FA" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\analysis\LiteralAnalyzer.class" />
											</Component>
											<Component Id="cmp96523ADB2B7D1A4867EB526B4BFBA5E2" Guid="{757346ED-D336-4ECA-B6CE-2518F08B82D7}">
												<File Id="fil2EDB2F7DCEC4C6639F3F85DE8E374F77" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\analysis\LiteralCounter.class" />
											</Component>
											<Component Id="cmpDB371313D46BA8312CA149D47D7A11DB" Guid="{D15AD4AE-39A8-43FA-97CF-41C9CA395112}">
												<File Id="fil6C18137338E432BCBE605C6118D721A2" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\analysis\NestingDepthAnalyzer.class" />
											</Component>
											<Component Id="cmpDF03FE346FF3042EC8F3BB39E67373CE" Guid="{70C16F32-4EA2-44FA-9AE0-E14794B7B93C}">
												<File Id="fil69E16947706BB4B94342CED0682FBDD1" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\analysis\RedundantLiteralAnalyzer.class" />
											</Component>
											<Component Id="cmp5A639B8CA329775291AE8A6DC7077317" Guid="{53A309DB-9B78-4A09-B4BC-9738F9E967B8}">
												<File Id="fil596096C3A8B3563A2B882FD8DCBF8A96" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\analysis\SLOCAnalyzer.class" />
											</Component>
											<Component Id="cmpEF0827A26BDAD24667E2915260BC87F2" Guid="{7CF45FE7-B22E-46BC-B603-E6E2F0D6CDE5}">
												<File Id="fil8B7D776B0D38EAE040F4006A23C46AAC" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\analysis\SourceCodeSearchAnalyzer.class" />
											</Component>
											<Component Id="cmpFBE22966A2032470C9169DFCC7CFDB9A" Guid="{2242DE69-84A0-48C9-A886-50AA4591D029}">
												<File Id="fil28F90EC66994EAB39C2A028DC51D7F1D" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\analysis\TokenCounter.class" />
											</Component>
										</Directory>
										<Directory Id="dir6065AD3B26DD5E99FCB72D3CD2EFC3A2" Name="library">
											<Component Id="cmpD5D15DF410480A0DF923957B326918C8" Guid="{1F0A72E1-77C7-4EA2-BAAA-CCBC88472903}">
												<File Id="fil2E63C97EEB00104ADAA8D988391571AF" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\library\SourceCodeLibrary.class" />
											</Component>
											<Component Id="cmp33F1D3E0AC5AD5AF82B58FCAA34C406A" Guid="{887C286F-2B2A-4D89-8F2C-113D66E512D8}">
												<File Id="filF70600E33952C70B9A15A1F5BB0610E0" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\library\TokenCache.class" />
											</Component>
										</Directory>
										<Directory Id="dirFE066C044DC4364D2CDDB29AA8E75CD9" Name="scope">
											<Component Id="cmpF40F7060EE8CB033255DD9FA54C8671C" Guid="{D3849EA1-394C-462D-BF23-37F3FEF31D86}">
												<File Id="fil13726A9A2B042E82B311528A3579FCC4" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\scope\ISourceCodeElement.class" />
											</Component>
											<Component Id="cmpAAB819ACA20559F26308E4139E154D5F" Guid="{C4581740-1F0C-4614-A372-0AE4F6EF6F56}">
												<File Id="filDA96F08AE002C0091EFDCE72CC491F98" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\scope\SourceCodeElement.class" />
											</Component>
											<Component Id="cmp5A922619435F1EFB9BE8593443EBA9DF" Guid="{00A7BFFD-B6C5-4473-A2CA-1518E5014763}">
												<File Id="filC51BA44DC990F62042964E659EB44878" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\scope\SourceCodeElementFactory.class" />
											</Component>
											<Component Id="cmp88A620116C51C112ECB340E769139F75" Guid="{5CB290F7-6DB4-4211-8D78-2102C41F42B0}">
												<File Id="filDC773180983A21D0AD1858AD85BA0D2F" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\scope\SourceCodeScope$1.class" />
											</Component>
											<Component Id="cmpE2D0E87ABCCAF8C69832D18EFD0FF2D2" Guid="{1F6171AD-1208-4EF8-BF39-4F7EA5DDCDD9}">
												<File Id="fil1A216CB80D023D4D7B00C5C1D8941243" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\scope\SourceCodeScope$ElementFactory.class" />
											</Component>
											<Component Id="cmpC726BB1F2079D3427EA89E3D29EC6665" Guid="{5D3B19B3-35B7-43A1-BFAF-72B4287D13BF}">
												<File Id="filD60870C6334BE40B679520450BFE6FFA" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)classes\edu\tum\cs\conqat\sourcecode\scope\SourceCodeScope.class" />
											</Component>
										</Directory>
									</Directory>
								</Directory>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
				<Directory Id="dir3FFB769FA4522418B0887051B20EB9CD" Name="lib">
					<Component Id="cmpAAAD4F67DE4AC738295B7A93FEFDC0DE" Guid="{B3D4E811-5369-4277-9965-F8719AA76948}">
						<File Id="filE87D421217B78F461C902500612FC058" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.sourcecode)lib\scanner.jar" />
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>