<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include ConQAT.wxi ?>

	<!-- Component Group -->

	<Fragment>
		<ComponentGroup Id="edu.tum.cs.conqat.simulink">
			<ComponentRef Id="cmp38DDF80194922B12EDA304F0FCAFD63E" />
			<ComponentRef Id="cmp8215DAAC13BB0228E6C866F47C8D5FEB" />
			<ComponentRef Id="cmpE5D469AF8B55A82A69D8EFE3A302A9EF" />
			<ComponentRef Id="cmp2E88E7584406EC1A754A3EB2942F3986" />
			<ComponentRef Id="cmp9B7294E521E124DDCF084A453577B179" />
			<ComponentRef Id="cmp9EB9227E64426F660A446B330B66EDEA" />
			<ComponentRef Id="cmp11B939E21620B161F512372A36415DA4" />
			<ComponentRef Id="cmp3AAD526E73C6ECACB29C22491BE39711" />
			<ComponentRef Id="cmpA9BBC05D87D28222CAF7752B48E6BDDC" />
			<ComponentRef Id="cmp37D2C78FA5172A663DAE369A18765781" />
			<ComponentRef Id="cmp0E18A65C206F6A0D8EA70DA759360926" />
			<ComponentRef Id="cmp285D5A0118DE12BDC25E24A5214868A9" />
			<ComponentRef Id="cmpF6BFDC4C7E63AFBBC56173F699BBDF57" />
			<ComponentRef Id="cmp7B20C5B474D810A60C3DD6EC96C7813A" />
			<ComponentRef Id="cmpD7DFB60F70B8344E10F92CE0CC2D3E39" />
			<ComponentRef Id="cmpD5C25D43EA27689A75E3EDDCAA4D4A18" />
			<ComponentRef Id="cmp6FE159C8F92CFDC6D62ECD5432313CB3" />
			<ComponentRef Id="cmp09911B76B05AEABB2D873A429CDF0DB4" />
			<ComponentRef Id="cmpED642E1A2D467547B2FFB2BE5547B38A" />
			<ComponentRef Id="cmp7AF636CAC8B8B4DCD0DAFFE58CDBEC2A" />
			<ComponentRef Id="cmp9BC1D49CBDCF34B4807B522DFD3D1B41" />
			<ComponentRef Id="cmpFEC2FC4BC3628878B87B628A18CE417E" />
			<ComponentRef Id="cmp12E99E481263E03D160755F25E5C8F29" />
			<ComponentRef Id="cmpDEE55BA1BF3ECFC4DF68378AAB8203CD" />
			<ComponentRef Id="cmp1F13C23787B30D34D202BB76FFA82084" />
			<ComponentRef Id="cmp450E01326641A461BFFDECF9768C5B69" />
			<ComponentRef Id="cmp4E3C6A306212BD6B3BE0C245C5890069" />
			<ComponentRef Id="cmp76D9FD2C0154A282EDFD9CDE212E33DF" />
			<ComponentRef Id="cmp76810D67D9A90149071D796FCA80EA54" />
			<ComponentRef Id="cmpD5060463D389CE6EE821F02D65E71F09" />
			<ComponentRef Id="cmp90A4273D5B719627B769BA84A1563856" />
			<ComponentRef Id="cmpEAA1E2C63D2827376950578FA9F3B926" />
			<ComponentRef Id="cmpC99EEB37D4212901C643582F44B6E2F0" />
			<ComponentRef Id="cmp05ED805E4AA55DB5841215DCE7BE7D16" />
			<ComponentRef Id="cmpC9412987EDE132877661DD19AF462A5B" />
			<ComponentRef Id="cmpE63D2D5699C55DB1994BE08093DF4820" />
			<ComponentRef Id="cmp892B819F9BCCFE686F658B537A435A47" />
			<ComponentRef Id="cmp52E4A499B11B229BB882C61221E1B3DD" />
			<ComponentRef Id="cmpBEE7CB7BBAAE698658A18EDC74BB4997" />
			<ComponentRef Id="cmp5A5F1C31F433E3629FC38F3C304AE4AB" />
			<ComponentRef Id="cmpC96381301BFD3794A98FFAE3B8D72AED" />
			<ComponentRef Id="cmpC86E54DF8801442EFF685D2FF2A0AC5C" />
			<ComponentRef Id="cmp89C12AB8F9022DC1A2DC8BE2BE9F17EB" />
			<ComponentRef Id="cmpE9A50B28CD538F92E8850743B0EBE3D3" />
			<ComponentRef Id="cmpC8674C36B64BFE845E7A11DA3EEA7971" />
			<ComponentRef Id="cmpA834F4A1DE3ACF3566E5951AEE420EAA" />
			<ComponentRef Id="cmp7182236B427CDAAD3F74B87801C852BA" />
		</ComponentGroup>
	</Fragment>

	<!-- Files and Directories -->

	<Fragment>
		<DirectoryRef Id="bundles">
			<Directory Id="dir5527ABC1116EE7CCB59D362F1FEAF058" Name="edu.tum.cs.conqat.simulink">
				<Component Id="cmp38DDF80194922B12EDA304F0FCAFD63E" Guid="{8080D3F2-759D-46AA-B762-7CB8F4B65E6B}">
					<File Id="filCA69420B4C92F506C0CE7DCB20BE5E29" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)bundle.html" />
				</Component>
				<Component Id="cmp8215DAAC13BB0228E6C866F47C8D5FEB" Guid="{B146B2F3-DCD8-41EF-BC36-D99F24A4A7A3}">
					<File Id="filFABCD18CD81570038C03C95C3CDC3140" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)bundle.xml" />
				</Component>
				<Directory Id="dir3A24CACC0B9F9C4D0BDB680B7EE18075" Name="blocks">
					<Component Id="cmpE5D469AF8B55A82A69D8EFE3A302A9EF" Guid="{42C3A33E-3C11-48E7-93E2-4588AC2A761F}">
						<File Id="filF98E5DB36B9EEFFFC46B129F8475129D" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)blocks\BlockTypeFrequency.cqb" />
					</Component>
					<Component Id="cmp2E88E7584406EC1A754A3EB2942F3986" Guid="{48725475-71B7-4248-8BF3-17879207FAF4}">
						<File Id="fil6F5126D2AB3BF912046A6B24FE8032C2" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)blocks\ParameterAssessment.cqb" />
					</Component>
					<Component Id="cmp9B7294E521E124DDCF084A453577B179" Guid="{1F3A2AF8-E129-4E6E-BFA2-D098019B870B}">
						<File Id="fil79214A8E84AA096C9A6143B13098AB98" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)blocks\SimulinkCloneChain.cqb" />
					</Component>
					<Component Id="cmp9EB9227E64426F660A446B330B66EDEA" Guid="{EADF129C-1504-48CA-A349-43FA3746D178}">
						<File Id="filD83A7AFEAD3D116A053B8906AD0D069E" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)blocks\SimulinkDefaultNormalization.cqb" />
					</Component>
					<Directory Id="dir73C529854CC5BC169B667AAC1602E96A" Name="qlaunch">
						<Component Id="cmp11B939E21620B161F512372A36415DA4" Guid="{88C45A51-541E-4DAF-8E38-5F4029125E3D}">
							<File Id="filB110B545419F2869C77EA8DC9DE037ED" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)blocks\qlaunch\SimulinkCloneDetection.cqb" />
						</Component>
					</Directory>
				</Directory>
				<Directory Id="dirF8EFE9695167C55CADEC6CA2454EAFC7" Name="classes">
					<Directory Id="dir59C71D2219CD5A9B44C2296544B00EBD" Name="edu">
						<Directory Id="dir73685F449C5EB4BC14D7EC98741F4CFA" Name="tum">
							<Directory Id="dir948EEA4B5D3AA078340DB6E2A7B67064" Name="cs">
								<Directory Id="dirE604F4FA7EE21CB77F2F4915D5341C9D" Name="conqat">
									<Directory Id="dir4F8303D675EA34D6B899D68BCADFBD09" Name="simulink">
										<Directory Id="dirC75AC68956001A8C0F73ED6EA2713D74" Name="analyzers">
											<Component Id="cmp3AAD526E73C6ECACB29C22491BE39711" Guid="{410604DD-B9F9-49E6-AC27-27CA987550F0}">
												<File Id="fil397BC3852A7523DA17EDCCD909CA6536" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\analyzers\HistoryJunctionAnalyzer.class" />
											</Component>
											<Component Id="cmpA9BBC05D87D28222CAF7752B48E6BDDC" Guid="{8197A792-EE42-4CB4-BBBE-278F93E8E470}">
												<File Id="fil9F696AE1877FD93DD69951A046FC0BD6" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\analyzers\LeftRightOrientationAssessor.class" />
											</Component>
											<Component Id="cmp37D2C78FA5172A663DAE369A18765781" Guid="{831A4761-22E4-47EB-A32F-EF4FE836EEA0}">
												<File Id="filDECE98638CF3BD8E46F4BA649AA00693" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\analyzers\SimulinkBlockParameterAssessor.class" />
											</Component>
											<Component Id="cmp0E18A65C206F6A0D8EA70DA759360926" Guid="{AA20D5C2-6104-4BE0-97A7-27973460E360}">
												<File Id="filFA84689A56D3BE5F3D24ED3270E18D87" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\analyzers\SimulinkBlockTraversingProcessorBase.class" />
											</Component>
											<Component Id="cmp285D5A0118DE12BDC25E24A5214868A9" Guid="{CDC8433E-7583-46E6-AC84-304B266D2F4E}">
												<File Id="fil115F9079A1AB68B21B4644D6DC00DFDC" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\analyzers\SimulinkBlockTypeAssessor.class" />
											</Component>
											<Component Id="cmpF6BFDC4C7E63AFBBC56173F699BBDF57" Guid="{A1164AFB-5ADB-441A-8077-9D99138E5403}">
												<File Id="fil0290855546A9590E61B6B0A27333E01A" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\analyzers\SimulinkBlockUsageAnalyzer.class" />
											</Component>
											<Component Id="cmp7B20C5B474D810A60C3DD6EC96C7813A" Guid="{18197673-5C90-4525-BA7A-22B805969A21}">
												<File Id="fil1DBDC8AE5FBEDB9413B934A25B23C941" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\analyzers\SimulinkModelAnalyzerBase.class" />
											</Component>
											<Component Id="cmpD7DFB60F70B8344E10F92CE0CC2D3E39" Guid="{CA2D3C86-17B2-4ED2-8A91-78EEAAAD7638}">
												<File Id="fil8ECCB77A6FC315DE556809E832CD6299" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\analyzers\SimulinkSizeAnalyzer.class" />
											</Component>
											<Component Id="cmpD5C25D43EA27689A75E3EDDCAA4D4A18" Guid="{8FF2F5C5-0167-4A92-89A1-948B224DA86A}">
												<File Id="fil2C3ED2CF2C1CF1C12650C102A18A6F99" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\analyzers\StateflowAnalyzerBase.class" />
											</Component>
											<Component Id="cmp6FE159C8F92CFDC6D62ECD5432313CB3" Guid="{5D461F3B-E1E9-464F-8796-13537BEE1FF9}">
												<File Id="fil11D8360BA82C70786ED50E66C709CDBA" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\analyzers\SubStateAnalyzer.class" />
											</Component>
										</Directory>
										<Directory Id="dir0B5C3B669FAFCB99D1019AC731B6772B" Name="clones">
											<Component Id="cmp09911B76B05AEABB2D873A429CDF0DB4" Guid="{59428D33-EAEA-4163-BD0E-EA25A1E994A3}">
												<File Id="fil57853339E1AA5ED4AC0BA1F84C3B97C6" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\clones\SimulinkCloneDetector.class" />
											</Component>
											<Directory Id="dir49D54BA1B9C3FBF6F40C20A968F421B3" Name="model">
												<Component Id="cmpED642E1A2D467547B2FFB2BE5547B38A" Guid="{9A70CB11-8952-428D-9DCC-559B981DF8E0}">
													<File Id="filD5C2F657EFB5811054AF078B9310E6ED" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\clones\model\SimulinkDirectedEdge.class" />
												</Component>
												<Component Id="cmp7AF636CAC8B8B4DCD0DAFFE58CDBEC2A" Guid="{5320CB2F-429F-40F2-9CAA-2291ABE55DE5}">
													<File Id="fil320353D1D049EF025FC5007A40321B87" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\clones\model\SimulinkModelGraph.class" />
												</Component>
												<Component Id="cmp9BC1D49CBDCF34B4807B522DFD3D1B41" Guid="{C17BE5AD-907A-43CC-AB07-F58E3531025B}">
													<File Id="fil907A30538FE3CB65F5BC1A532F0EE482" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\clones\model\SimulinkModelGraphCreator.class" />
												</Component>
												<Component Id="cmpFEC2FC4BC3628878B87B628A18CE417E" Guid="{4C31BCE6-5014-4ED7-8255-41DCCFE2F9F1}">
													<File Id="fil52F21ECD2D42C1A0B2B71668C4EA6510" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\clones\model\SimulinkNode.class" />
												</Component>
											</Directory>
											<Directory Id="dir70532D0F8D2A813D8F71A0001C56A828" Name="normalize">
												<Component Id="cmp12E99E481263E03D160755F25E5C8F29" Guid="{FB0628D6-EDF2-44C2-9EF1-E889469ACD41}">
													<File Id="filD56C496DD84FF09750D111483C027DB0" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\clones\normalize\BasicSimulinkNormalizer$NormalizationSettings.class" />
												</Component>
												<Component Id="cmpDEE55BA1BF3ECFC4DF68378AAB8203CD" Guid="{84A25EB2-9C2D-4B6E-9E19-7C7DF6F50C35}">
													<File Id="filAA49DA1D4D955554F768DEE3EDBCD8F4" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\clones\normalize\BasicSimulinkNormalizer.class" />
												</Component>
												<Component Id="cmp1F13C23787B30D34D202BB76FFA82084" Guid="{1469B6B3-179D-40B5-89ED-40F81062F969}">
													<File Id="fil9751D4477E748BF03D51EC4A3BA089BC" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\clones\normalize\EPortNormalization$1.class" />
												</Component>
												<Component Id="cmp450E01326641A461BFFDECF9768C5B69" Guid="{6A3419B9-1228-45E4-8207-FE7059256304}">
													<File Id="filD8B3F10156E0E83C3D0273212974C3B8" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\clones\normalize\EPortNormalization.class" />
												</Component>
												<Component Id="cmp4E3C6A306212BD6B3BE0C245C5890069" Guid="{4C38D6F5-58DC-4FF6-8B4A-74EB2D01F3BE}">
													<File Id="fil61CEBF6DAB3FC182CB2FB93B4E56827E" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\clones\normalize\ISimulinkNormalizer.class" />
												</Component>
											</Directory>
											<Directory Id="dir613D251ECF0CBB43F8329E67713AB3FA" Name="result">
												<Component Id="cmp76D9FD2C0154A282EDFD9CDE212E33DF" Guid="{D9778BDB-8F25-4E72-8745-60F0B0DC0460}">
													<File Id="filC50755F151ED92AD5AE9A3FB157769DC" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\clones\result\SimulinkClone.class" />
												</Component>
												<Component Id="cmp76810D67D9A90149071D796FCA80EA54" Guid="{E013D8E5-8669-4765-AE8B-578AFCB59E93}">
													<File Id="fil251E0FB32B5B6F57A579C6083C327A6B" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\clones\result\SimulinkCloneResultNode.class" />
												</Component>
											</Directory>
										</Directory>
										<Directory Id="dir7D41BE997AA7C1F61D416C7B19EFE63E" Name="filters">
											<Component Id="cmpD5060463D389CE6EE821F02D65E71F09" Guid="{67E96BC4-568C-4C58-B11A-DB03AE85C91B}">
												<File Id="filEC6ECD054BA135F89DE2BDEE01B678B8" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\filters\DstPortLineFilter.class" />
											</Component>
											<Component Id="cmp90A4273D5B719627B769BA84A1563856" Guid="{41839E00-9990-4CBB-ABAC-FF1BCA77AA82}">
												<File Id="filC4119A80F417D765AFE3626FAC7F6DC8" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\filters\PortTunneler.class" />
											</Component>
											<Component Id="cmpEAA1E2C63D2827376950578FA9F3B926" Guid="{D581DCC5-21BF-4FF6-9965-C514EFA159AA}">
												<File Id="filE1CA880D5BA9F40E4A555DFC9BB81B76" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\filters\SimulinkLineFilterBase.class" />
											</Component>
										</Directory>
										<Directory Id="dirFE89094FD955745F74AF3A7AC8A82A83" Name="output">
											<Component Id="cmpC99EEB37D4212901C643582F44B6E2F0" Guid="{A532B0AA-58D8-4464-AAD2-31AAAEDE5F10}">
												<File Id="filDB2541E15AC50F946F3D96F0089485D3" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\output\MatlabColorMFileWriter.class" />
											</Component>
											<Component Id="cmp05ED805E4AA55DB5841215DCE7BE7D16" Guid="{0DECB88A-8C08-489F-9746-866F351FBDB8}">
												<File Id="filD5358B7A63AAA05A87F7120B72437A94" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\output\SimulinkCloneLayouter.class" />
											</Component>
											<Component Id="cmpC9412987EDE132877661DD19AF462A5B" Guid="{71C95EA3-4119-4504-9056-DDED19EE1862}">
												<File Id="filDB173A55370383581D50199779E0BC67" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\output\SimulinkClonesToFindingsConverter.class" />
											</Component>
											<Component Id="cmpE63D2D5699C55DB1994BE08093DF4820" Guid="{75A70050-2393-4478-9329-5A2FA64D013C}">
												<File Id="filF3049CE2E75C274F8CF9D3394CD0E107" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\output\SimulinkDotVisualizer.class" />
											</Component>
											<Component Id="cmp892B819F9BCCFE686F658B537A435A47" Guid="{FAEEBFF1-C388-40D4-A044-904C85D4286B}">
												<File Id="fil1B79D1E988FBC5DCA69963E1EBC3A6D1" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\output\SimulinkLayouter.class" />
											</Component>
										</Directory>
										<Directory Id="dir9D5A1CEE477359B26F1A2A1C1D3B2FD4" Name="scope">
											<Component Id="cmp52E4A499B11B229BB882C61221E1B3DD" Guid="{E9DD2465-21E1-4D1E-8924-95537E9C31CA}">
												<File Id="fil0D5433D1869D2600CF45EADB94DA0C34" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\scope\ISimulinkElement.class" />
											</Component>
											<Component Id="cmpBEE7CB7BBAAE698658A18EDC74BB4997" Guid="{C5107157-4E14-4E52-8347-80996862C665}">
												<File Id="filB6500C775A25DDA147329977117E0B82" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\scope\SimulinkElement.class" />
											</Component>
											<Component Id="cmp5A5F1C31F433E3629FC38F3C304AE4AB" Guid="{6A391229-FF24-4468-9049-C4832775908A}">
												<File Id="fil30D6B9BD7279C648F66E52258880D5C2" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\scope\SimulinkModelElement.class" />
											</Component>
											<Component Id="cmpC96381301BFD3794A98FFAE3B8D72AED" Guid="{53280B39-C14F-4EE2-93B0-BB4A6289B08D}">
												<File Id="fil7442495DC3E7252FA595213E8AB23365" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\scope\SimulinkScope$1.class" />
											</Component>
											<Component Id="cmpC86E54DF8801442EFF685D2FF2A0AC5C" Guid="{154DD580-0929-423D-9B20-13624947F7DC}">
												<File Id="fil1F79632E9FA1DB5245A0DC2B017A197A" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\scope\SimulinkScope$ElementFactory.class" />
											</Component>
											<Component Id="cmp89C12AB8F9022DC1A2DC8BE2BE9F17EB" Guid="{2E05B85E-0CEF-4C87-A7B6-FA5FAAD18C6F}">
												<File Id="fil31DF7791C51D40A4746B861E401BCAE8" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\scope\SimulinkScope.class" />
											</Component>
										</Directory>
										<Directory Id="dir0E78DCAEF68AEF171D45DCAF742DABD9" Name="targetlink">
											<Component Id="cmpE9A50B28CD538F92E8850743B0EBE3D3" Guid="{A19FF15E-9454-45E4-9D71-4875C084258B}">
												<File Id="fil729F3B33A96E25B2EAA2F4704D4FD142" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)classes\edu\tum\cs\conqat\simulink\targetlink\TargetlinkDataProcessor.class" />
											</Component>
										</Directory>
									</Directory>
								</Directory>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
				<Directory Id="dir81DD79C775A4C26AF8F625FDE8890710" Name="lib">
					<Component Id="cmpC8674C36B64BFE845E7A11DA3EEA7971" Guid="{F0B2DF02-24CD-4B50-8DC6-6FE6EE012E14}">
						<File Id="filDA7869A3218AE34506DE7128F1D74A2E" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)lib\cup-runtime.jar" />
					</Component>
					<Component Id="cmpA834F4A1DE3ACF3566E5951AEE420EAA" Guid="{400D175B-10B3-4CF6-9D26-2E8327DC2B97}">
						<File Id="filBB2C392F0A63D1B961CD7B7BB18C4B2C" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)lib\simulink.jar" />
					</Component>
				</Directory>
				<Directory Id="dirE88844EDC952C88042887DFDA33B1E7A" Name="resources">
					<Component Id="cmp7182236B427CDAAD3F74B87801C852BA" Guid="{1FF5B448-372B-455F-AE58-46BD7FA2A7C7}">
						<File Id="fil48A7286D21BC189E16910765C88040C4" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.simulink)resources\dump_simulink.m" />
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>