<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include ConQAT.wxi ?>

	<!-- Component Group -->

	<Fragment>
		<ComponentGroup Id="edu.tum.cs.conqat.graph">
			<ComponentRef Id="cmp27F961AABB18B88CD7FBCDC1DDEC5D14" />
			<ComponentRef Id="cmp9691AC40A056D1616792E00F39944089" />
			<ComponentRef Id="cmpE86781BFFA7CEF41A71483EC3539E192" />
			<ComponentRef Id="cmpD2E73844DFB8EBA4A6B024A476BABE35" />
			<ComponentRef Id="cmp83823CE7CB104E4C9EC9399D73A8AC41" />
			<ComponentRef Id="cmp9E5E8BDBD252280AE1A88A5B42A7DBB9" />
			<ComponentRef Id="cmpC7A14FDFE1D05B4A863390ADBE9872B6" />
			<ComponentRef Id="cmp51C7FC8C5B4461DD987B6615CC32AE2E" />
			<ComponentRef Id="cmp67B7281F16D998826B87377450ECCF55" />
			<ComponentRef Id="cmpA8442CA7DD0902266966C13D34D177DE" />
			<ComponentRef Id="cmp2417C3489549049380792B13E961486C" />
			<ComponentRef Id="cmpA296F1A745AF4D45DD9227052C4652A9" />
			<ComponentRef Id="cmpC33BD75E4EACF05813D22EEEA0307E42" />
			<ComponentRef Id="cmpE3021BCC3E12ECF3C50BE0ECFDF686BD" />
			<ComponentRef Id="cmp529D91559C05230232EBE1A7E444A4EB" />
			<ComponentRef Id="cmpD550A3A42CB2A8A6FB83784B1842C107" />
			<ComponentRef Id="cmp066589E1F707C158AF09526AE316F9CB" />
			<ComponentRef Id="cmpCF3FB5E6EAC33E7642D10A76E44CCCB7" />
			<ComponentRef Id="cmp06FFD7D6DF8AEF46BA43C706B52B261D" />
			<ComponentRef Id="cmpA9149B2AB79C676CC96D3731FA878C2C" />
			<ComponentRef Id="cmp09DC83AEBC3A704EE24C800B1C901199" />
			<ComponentRef Id="cmp96E0CCF06C77AB6C71E96F2C04831630" />
			<ComponentRef Id="cmp082651F24103F9F8569BD2E3AA605A19" />
			<ComponentRef Id="cmpAE10D82CD492AA880C36597E0F435664" />
			<ComponentRef Id="cmpECC7131694F88D002F201084F94D0572" />
			<ComponentRef Id="cmp29D9D9C66B8761E1087BDBBCD25ED578" />
			<ComponentRef Id="cmpEB2B3D93A912DC84B9F2C6E8A6E9B1B6" />
			<ComponentRef Id="cmp902138B8AD8B5C3D26E43042565BB875" />
			<ComponentRef Id="cmp301093FAAE67BEBFE2DAEA65DA7C613F" />
			<ComponentRef Id="cmp85A852F3216C47002407F2A0CAC98772" />
			<ComponentRef Id="cmp1BCA20A9B379CF61B2303A3FB2C9639D" />
			<ComponentRef Id="cmpD23FFAAFEBD4A285F05A623B63DB424D" />
			<ComponentRef Id="cmp18A43D433C97033ACFA65ADB5C8B117C" />
			<ComponentRef Id="cmp01E91C7BD8700BE63CBFA4F329D08ABE" />
			<ComponentRef Id="cmp2DF7AA64FE85B15F7F893BEB9FACDAE5" />
			<ComponentRef Id="cmpA80A2F3823E6E7F2DC2F3EDC42F2D090" />
			<ComponentRef Id="cmp30B26FD1113A8689DC73F0AAEDB8F34C" />
			<ComponentRef Id="cmp9F33B14D33D403A74AA4FE54D8212B54" />
			<ComponentRef Id="cmp1BD8AD3A8266D15B42257FA3BCC1FEC0" />
			<ComponentRef Id="cmp5EF741B7D681E73EEF587724FC070E38" />
			<ComponentRef Id="cmpAA9F00CDFDA2302A53A29DAEAF0F35C4" />
			<ComponentRef Id="cmp88D31731D37EA6B8BB7585D1CEB88DEB" />
			<ComponentRef Id="cmp5A7BECAB933504D462152D229EE2F2F4" />
			<ComponentRef Id="cmp34B6943B4B68E47D949C36B540B2C853" />
		</ComponentGroup>
	</Fragment>

	<!-- Files and Directories -->

	<Fragment>
		<DirectoryRef Id="bundles">
			<Directory Id="dirF1F1D7CC72DA14A359C4D3B2F0449CF2" Name="edu.tum.cs.conqat.graph">
				<Component Id="cmp27F961AABB18B88CD7FBCDC1DDEC5D14" Guid="{5D28CAC8-D387-4BD3-ABD3-5A2E7A5DEB9B}">
					<File Id="fil0AB2307FAD2F103EF83669E9D7EA8110" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)bundle.html" />
				</Component>
				<Component Id="cmp9691AC40A056D1616792E00F39944089" Guid="{C943AFE0-BD6F-4CDB-B7CA-A6720D839B7D}">
					<File Id="filAAE93C43C96C19DC31A8508810113B4D" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)bundle.xml" />
				</Component>
				<Directory Id="dir8C324D0C6A176DA7CF945C90888DD7AD" Name="classes">
					<Directory Id="dir246817F63F9B3D158D8015E1817C6604" Name="edu">
						<Directory Id="dir2904BE5FE51BAFCD0CCDE8837871F3AD" Name="tum">
							<Directory Id="dir7D2FE5408B6FC618FFEAFE2E84A59DA5" Name="cs">
								<Directory Id="dirF842B1609B76226B6B4DD2AB22D8BBAD" Name="conqat">
									<Directory Id="dir7CA94522C1E857C7D997D228E180248B" Name="graph">
										<Directory Id="dirA4476ED32FB86515288D5A134114E81F" Name="algo">
											<Component Id="cmpE86781BFFA7CEF41A71483EC3539E192" Guid="{7EDE6A5E-1056-415A-BECA-38AA436BED98}">
												<File Id="fil5F33C61B5C3BECB83A4C57AEE581EDB8" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\algo\StrongConnectivity.class" />
											</Component>
										</Directory>
										<Directory Id="dirD429A326B1254BB671761FE4F5F5EA00" Name="builder">
											<Component Id="cmpD2E73844DFB8EBA4A6B024A476BABE35" Guid="{46F2E42C-525D-4140-A0DA-A1B6B605C25A}">
												<File Id="filC9D9EA88A4D5F8761093F1FF1608C922" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\builder\ScopeGraphCreator.class" />
											</Component>
										</Directory>
										<Directory Id="dirD4A913BC815B483C1C9C70C1C2B7B533" Name="cluster">
											<Component Id="cmp83823CE7CB104E4C9EC9399D73A8AC41" Guid="{2A120CB6-1CBC-43DB-9825-798336E8C99E}">
												<File Id="filA638E7E6BF2714683DF3BD8BFDA3960D" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\cluster\ClustererBase.class" />
											</Component>
											<Component Id="cmp9E5E8BDBD252280AE1A88A5B42A7DBB9" Guid="{85084E59-6284-4AB6-BA1E-E515D5111F22}">
												<File Id="filB296C02E1A8893F3A4FB4AE8596742CD" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\cluster\EdgeBetweennessCommunityClusterer.class" />
											</Component>
											<Component Id="cmpC7A14FDFE1D05B4A863390ADBE9872B6" Guid="{2A64F346-2B87-49AC-B5D1-4FBBDB2B5710}">
												<File Id="fil1B7815C59C574FFF16B4CFC6F3DD1779" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\cluster\StronglyConnectedComponentClusterer.class" />
											</Component>
											<Component Id="cmp51C7FC8C5B4461DD987B6615CC32AE2E" Guid="{6EA06EB6-C225-45D2-9B9F-7E1470DCACF6}">
												<File Id="fil7E4C821D78E459BD8C2623D11F162E9D" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\cluster\WeaklyConnectedComponentClusterer.class" />
											</Component>
										</Directory>
										<Directory Id="dir2BABE382C61DC445195525F12844202B" Name="color">
											<Component Id="cmp67B7281F16D998826B87377450ECCF55" Guid="{4F415405-E3F6-4947-81F2-AD4238B69752}">
												<File Id="filD06B08114ACA62BA7E7A5C2D59B8DB1D" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\color\EdgeAssessmentColorizer$1.class" />
											</Component>
											<Component Id="cmpA8442CA7DD0902266966C13D34D177DE" Guid="{3ACF5037-B356-41AE-A301-1E7C0B3B4AA1}">
												<File Id="fil30C623C15CFFCA190FDDE3EA2C2F01EB" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\color\EdgeAssessmentColorizer.class" />
											</Component>
											<Component Id="cmp2417C3489549049380792B13E961486C" Guid="{029C42EE-2081-4AC9-9E64-0BA268575D05}">
												<File Id="filDAE95C59BE10DC8B00EB0216E32334A7" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\color\EdgeColorizerBase.class" />
											</Component>
										</Directory>
										<Directory Id="dir316FAEC96C6F5870F9043F8F11D744BD" Name="concentrate">
											<Component Id="cmpA296F1A745AF4D45DD9227052C4652A9" Guid="{8AC0353A-31B5-4F09-A4C5-81B134B3EBFC}">
												<File Id="fil36241A29ED2F6261A58A3A79788A386A" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\concentrate\GraphConcentrator.class" />
											</Component>
											<Component Id="cmpC33BD75E4EACF05813D22EEEA0307E42" Guid="{1AE3B9D2-51A2-4729-89AA-F4D2D50F5809}">
												<File Id="fil8BAC85DF2751B196F4CBF16C64D672FE" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\concentrate\HierarchySimplifier$PatternDepthPair.class" />
											</Component>
											<Component Id="cmpE3021BCC3E12ECF3C50BE0ECFDF686BD" Guid="{2DC7CFE6-556C-421A-B481-1C427BE33C3D}">
												<File Id="fil72E82EDD50F87E8BA62D0B77A17C5FDE" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\concentrate\HierarchySimplifier.class" />
											</Component>
										</Directory>
										<Directory Id="dirFFDD645B1A4CA5392623935CB644FE19" Name="dot">
											<Component Id="cmp529D91559C05230232EBE1A7E444A4EB" Guid="{07785DB3-0BE2-4EA3-8B63-CD793F72B2DA}">
												<File Id="fil42BB65C6F347E728B653573F60F6DDDE" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\dot\ConQATGraphClusteredDOTConverter.class" />
											</Component>
											<Component Id="cmpD550A3A42CB2A8A6FB83784B1842C107" Guid="{98F2F9F4-8A20-48F6-82FB-B3C48E729B3A}">
												<File Id="fil98F77A97DBF8A331B8EF56F18BE4508B" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\dot\ConQATGraphDOTConverter.class" />
											</Component>
										</Directory>
										<Directory Id="dir724FBC27A24D86DB33E8D502E425C7DA" Name="edges">
											<Component Id="cmp066589E1F707C158AF09526AE316F9CB" Guid="{F9AC6E4A-18EC-451A-815D-D49953C48C89}">
												<File Id="filFFFF6C06370CDF6D9C195B7EF099B162" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\edges\EdgeListBuilder.class" />
											</Component>
										</Directory>
										<Directory Id="dir20F02E20632C2E090617D32BF5683CB0" Name="filters">
											<Component Id="cmpCF3FB5E6EAC33E7642D10A76E44CCCB7" Guid="{E34819EB-6905-4BD7-BD9C-A6025C005A44}">
												<File Id="filF7A4F9862CE453B4DD5696419D388E48" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\filters\ClusterSizeFilter.class" />
											</Component>
											<Component Id="cmp06FFD7D6DF8AEF46BA43C706B52B261D" Guid="{32E01CD4-5AA0-4930-8B56-F3D3B8B2D1A5}">
												<File Id="fil39BD16384681530097BB240093797D05" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\filters\EdgeAssessmentFilter.class" />
											</Component>
											<Component Id="cmpA9149B2AB79C676CC96D3731FA878C2C" Guid="{9A1D3556-1666-43D6-8A1D-D7E3C347AE83}">
												<File Id="filAF76C97ADF2788B00112F3F2F5919DF0" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\filters\EdgeFilterBase.class" />
											</Component>
											<Component Id="cmp09DC83AEBC3A704EE24C800B1C901199" Guid="{ACDC6AAE-E72D-4D2A-9DBC-CF3560A5C869}">
												<File Id="filAC705B5C662E8A2DE757700F0E8BEE6B" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\filters\EmptyInnerNodeFilter.class" />
											</Component>
											<Component Id="cmp96E0CCF06C77AB6C71E96F2C04831630" Guid="{CEA91A4C-285C-42CD-B0E5-B78506A7B188}">
												<File Id="fil98A9C5711A8C7FBF42BA1A36443E0CD0" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\filters\IsolatedVertexFilter.class" />
											</Component>
											<Component Id="cmp082651F24103F9F8569BD2E3AA605A19" Guid="{6A52B646-8C6E-4373-B5BD-185A635C8727}">
												<File Id="filC65099FC39F5C54E956689663D9E2C99" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\filters\NotInCycleFilter.class" />
											</Component>
											<Component Id="cmpAE10D82CD492AA880C36597E0F435664" Guid="{434A0A4F-B274-4908-BB56-294163437BAF}">
												<File Id="filDAACEECD1974786AF0E4BB6174C07494" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\filters\PartOfCycleFilter.class" />
											</Component>
											<Component Id="cmpECC7131694F88D002F201084F94D0572" Guid="{18C3CC64-82A4-4AA3-956F-4D6B558B811E}">
												<File Id="fil7CDE004B583EA4489B73714CE1F14F28" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\filters\SelfLoopFilter.class" />
											</Component>
											<Component Id="cmp29D9D9C66B8761E1087BDBBCD25ED578" Guid="{625E1A94-7AF8-4FB0-A89C-3196A567F3D9}">
												<File Id="filE5C81D4563EAD427DB3C0DFAAFB0D0D6" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\filters\VertexFilterBase.class" />
											</Component>
										</Directory>
										<Directory Id="dir40A1BF159C73A2BD3E8B0CE9D881F165" Name="label">
											<Component Id="cmpEB2B3D93A912DC84B9F2C6E8A6E9B1B6" Guid="{7DE3FF6D-DD58-428C-9716-28749723FF43}">
												<File Id="fil0987B48CB813811B467016E0F5F6B08D" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\label\BetweennessCentralityLabeler.class" />
											</Component>
											<Component Id="cmp902138B8AD8B5C3D26E43042565BB875" Guid="{F8B6685D-A800-4455-BF2F-D1BBD7796F28}">
												<File Id="fil91217824EBDBA450B9D1C9242413C93C" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\label\DegreeLabeler.class" />
											</Component>
											<Component Id="cmp301093FAAE67BEBFE2DAEA65DA7C613F" Guid="{827B5BE9-B708-4F26-AAE3-D2C76BB8A39F}">
												<File Id="filD65C285304579E38A290A3051184124A" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\label\DistanceLabeler.class" />
											</Component>
											<Component Id="cmp85A852F3216C47002407F2A0CAC98772" Guid="{C4E0B771-341D-4390-90BF-4F8C69FDA774}">
												<File Id="fil3642DA8958B35A795AF01B813020B088" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\label\HITSLabeler.class" />
											</Component>
											<Component Id="cmp1BCA20A9B379CF61B2303A3FB2C9639D" Guid="{E042E84B-D0CA-4045-B0F2-B9CB16007E2D}">
												<File Id="filF77B514E3C6D212FFE6DF76B283FA215" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\label\InDegreeLabeler.class" />
											</Component>
											<Component Id="cmpD23FFAAFEBD4A285F05A623B63DB424D" Guid="{F2BC0C87-0962-41E1-B17E-CDBDE2BC9B35}">
												<File Id="filB13FB05143B4DA8668462E5AB6FE7104" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\label\OutDegreeLabeler.class" />
											</Component>
											<Component Id="cmp18A43D433C97033ACFA65ADB5C8B117C" Guid="{6241599F-DE8A-4778-BB9F-4DAFE66E00A1}">
												<File Id="fil111398947E46DA759387676AC91413C3" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\label\PageRankLabeler.class" />
											</Component>
										</Directory>
										<Directory Id="dir2786BAB5797473E0A4DC2AF545AABDDB" Name="nodes">
											<Component Id="cmp01E91C7BD8700BE63CBFA4F329D08ABE" Guid="{A9FC82AC-0333-4629-8376-005A881ECA52}">
												<File Id="fil7CACEAAB61EA8AA711EB4664A7535E93" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\nodes\ConQATGraph.class" />
											</Component>
											<Component Id="cmp2DF7AA64FE85B15F7F893BEB9FACDAE5" Guid="{5154449E-7FEF-4B21-9898-FF0758B2AB1A}">
												<File Id="fil295C517C44C0CC0D1DF18345C6F08B6A" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\nodes\ConQATGraphInnerNode.class" />
											</Component>
											<Component Id="cmpA80A2F3823E6E7F2DC2F3EDC42F2D090" Guid="{A1B465AD-3194-41ED-99C0-8B2532DDE738}">
												<File Id="filC9F280BBFF68222F777FE0E733A9B913" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\nodes\ConQATGraphUtils.class" />
											</Component>
											<Component Id="cmp30B26FD1113A8689DC73F0AAEDB8F34C" Guid="{30179D84-47CE-428F-83D0-66249CEEBF24}">
												<File Id="fil802BCB20B13132F8756DE7283B07D7FF" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\nodes\ConQATVertex.class" />
											</Component>
											<Component Id="cmp9F33B14D33D403A74AA4FE54D8212B54" Guid="{93C7C547-1637-458B-B910-F53A9C284AB5}">
												<File Id="fil7BCB7BCC0FE5514D1739D8F940C97E14" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\nodes\DeepCloneCopyAction.class" />
											</Component>
											<Component Id="cmp1BD8AD3A8266D15B42257FA3BCC1FEC0" Guid="{0E8AE6CA-E166-484F-BD98-90302D7BADAA}">
												<File Id="fil290467BAF3D2DA788314FD3A82E3B4B8" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\nodes\GraphTargetingValueCopier.class" />
											</Component>
											<Component Id="cmp5EF741B7D681E73EEF587724FC070E38" Guid="{7E97EF47-5DC9-4826-A4CE-D234664E43F8}">
												<File Id="fil42085F41777F2D844B02BB939D9E4F93" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\nodes\IConQATGraphInnerNode.class" />
											</Component>
											<Component Id="cmpAA9F00CDFDA2302A53A29DAEAF0F35C4" Guid="{8C021E30-6193-45E5-BE37-11B65CCADEF2}">
												<File Id="fil9EE48C5990355B91A560874A388CBF9C" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\nodes\IConQATGraphNode.class" />
											</Component>
											<Component Id="cmp88D31731D37EA6B8BB7585D1CEB88DEB" Guid="{6211DFF2-FD36-4977-98EC-22E9A916393F}">
												<File Id="fil8449E4EFAAC2AEC0C014612AD3D10B57" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)classes\edu\tum\cs\conqat\graph\nodes\IConQATGraphVertex.class" />
											</Component>
										</Directory>
									</Directory>
								</Directory>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
				<Directory Id="dirEB1B8C7CE79A343538981E30C0D7EB2D" Name="lib">
					<Component Id="cmp5A7BECAB933504D462152D229EE2F2F4" Guid="{E7DDE761-5B08-4C85-BC98-6D0A31AC0D6A}">
						<File Id="fil4D53BCAFE8F956640A28086313B2108B" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)lib\commons-collections.jar" />
					</Component>
					<Component Id="cmp34B6943B4B68E47D949C36B540B2C853" Guid="{F615A6EA-D8F4-4B15-9B9A-32B6F6C15C7C}">
						<File Id="fil4622A207348EA730A7B3BC81E893EC61" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.graph)lib\jung.jar" />
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>