<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include ConQAT.wxi ?>

	<!-- Component Group -->

	<Fragment>
		<ComponentGroup Id="edu.tum.cs.conqat.cpp">
			<ComponentRef Id="cmpA9BAB69BBA78275D61FE1757F7795A83" />
			<ComponentRef Id="cmp98461068F64D83C040DA320428AE3B22" />
			<ComponentRef Id="cmp515E22C57D4B013E53FA383D0602EE76" />
			<ComponentRef Id="cmpBF49A465E812AD15BFA17A1A05281A97" />
		</ComponentGroup>
	</Fragment>
	
	<!-- Files and Directories -->

	<Fragment>
		<DirectoryRef Id="bundles">
			<Directory Id="dir0633BB7DF6974865D06BF92478E8EB2D" Name="edu.tum.cs.conqat.cpp">
				<Component Id="cmpA9BAB69BBA78275D61FE1757F7795A83" Guid="{696076A2-B8B0-4315-8C24-B24B6193ABFB}">
					<File Id="fil80FAB6E070D199399EA0876FA2CB0EA4" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.cpp)bundle.html" />
				</Component>
				<Component Id="cmp98461068F64D83C040DA320428AE3B22" Guid="{F4BFA755-DE6D-46FF-8757-E916563407B1}">
					<File Id="fil319F8B19A74DDF100B811BAC8943CB3D" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.cpp)bundle.xml" />
				</Component>
				<Directory Id="dirCD46A74E28B4B83C07A0644346853290" Name="classes">
					<Directory Id="dirBF32354EEA823F6B0417CCEC0371C8C1" Name="edu">
						<Directory Id="dir49ED268F6B10526A764CA378BC8399CA" Name="tum">
							<Directory Id="dir32401EB24B83A204BDC04B432DC46A85" Name="cs">
								<Directory Id="dirD4D79329493A9D3B26D3F6D0FDFE5703" Name="conqat">
									<Directory Id="dirFF0051B3D9C79404BDA60779240BF41A" Name="cpp">
										<Component Id="cmp515E22C57D4B013E53FA383D0602EE76" Guid="{30AE63D4-4A01-4B13-94C6-F5AA31A8331D}">
											<File Id="fil7F41386BB1C990748AF6620AE49112C1" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.cpp)classes\edu\tum\cs\conqat\cpp\CodeInspectorAnalyzer.class" />
										</Component>
										<Component Id="cmpBF49A465E812AD15BFA17A1A05281A97" Guid="{35B32ED3-5453-4C94-90B3-AEC1F14F1308}">
											<File Id="fil151BF2C6D8901E9FD4CA95EF4E4BB678" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.cpp)classes\edu\tum\cs\conqat\cpp\IncludeAnalyzer.class" />
										</Component>
									</Directory>
								</Directory>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>