<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Product.wxi ?>

	<Product Id="*" UpgradeCode="$(var.UpgradeCode)"
			 Name="$(var.ProductName)" Version="!(bind.fileVersion.F__Package)"
			 Language="1033" Manufacturer="$(var.Manufacturer)">

		<!-- Package Definition -->

		<Package Id="*" Compressed="yes" Description="$(var.ProductShortName) !(bind.fileVersion.F__Package)" InstallerVersion="200"
				 ShortNames="no" Manufacturer="$(var.Manufacturer)" Languages="1033" SummaryCodepage="1252" />

		<!-- Major Upgrade Support -->

		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion Minimum="!(bind.fileVersion.F__Package)" IncludeMinimum="no" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
			<UpgradeVersion Minimum="0.0.0.0" IncludeMinimum="yes" Maximum="!(bind.fileVersion.F__Package)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
		</Upgrade>

		<!-- Properties -->

		<Property Id="ARPPRODUCTICON"   Value="ProductIcon" />
		<Property Id="ARPHELPLINK"      Value="$(var.ProductHomePage)" />
		<Property Id="ARPURLINFOABOUT"  Value="$(var.ProductHomePage)" />
		<Property Id="ARPURLUPDATEINFO" Value="$(var.ProductHomePage)" />

		<!-- Launch Condition Searches -->

		<Property Id="VS90_EXISTS" Secure="yes">
			<RegistrySearch Id="S_VS90Exists" Type="raw"
							Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VS\Servicing\9.0" Name="SP" />
		</Property>

		<!-- Launch Conditions -->

		<Condition Message="An administrator must approve or install [ProductName].">
			Privileged
		</Condition>

		<Condition Message="[ProductName] is already installed in a newer version on your computer.">
			NOT NEWERVERSIONDETECTED
		</Condition>

		<Condition Message="[ProductName] requires Microsoft Visual Studio 2008 Standard Edition or higher.">
			VS90_EXISTS
		</Condition>

		<!-- Media -->

		<Media Id="1" Cabinet="$(var.ProductShortName).cab" CompressionLevel="high" EmbedCab="yes" />

		<!-- Icons -->

		<Icon Id="ProductIcon" SourceFile="Resources\Product.ico" />

		<!-- Files and Directories -->

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="CommonFilesFolder" />
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="$(var.ProductName)">
					<Directory Id="Help" Name="Help" />
					<Directory Id="CONQATDIR" Name="ConQAT" />
				</Directory>
			</Directory>
		</Directory>

		<!-- Features -->

		<FeatureRef Id="F__VSPackage">
			<FeatureRef Id="F__Help" />
		</FeatureRef>
		<FeatureRef Id="F__ConQAT" />

		<!-- Install Sequences -->

		<InstallExecuteSequence>
			<FindRelatedProducts Before="LaunchConditions" />
			<RemoveExistingProducts After="InstallValidate" />
			<InstallFinalize Sequence="7800" />
		</InstallExecuteSequence>

		<InstallUISequence>
			<FindRelatedProducts Before="LaunchConditions" />
		</InstallUISequence>

		<!-- WixUI_Advanced scaffolding (to be replaced by extension authoring) -->

		<Property Id="ApplicationFolderName" Value="$(var.ProductShortName)" />
		<Property Id="WixAppFolder" Value="WixPerMachineFolder" />
		<WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />
		<WixVariable Id="WixUIBannerBmp"  Value="Resources\Banner.bmp" />
		<WixVariable Id="WixUIDialogBmp"  Value="Resources\Dialog.bmp" />

		<Property Id="ALLUSERS" Value="1" />
		<WixVariable Id="WixUISupportPerMachine" Value="1" />
		<WixVariable Id="WixUISupportPerUser"    Value="0" />

		<UI>
			<UIRef Id="WixUI_FeatureTree" />
		</UI>
	</Product>
</Wix>