<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include ConQAT.wxi ?>

	<!-- Component Group -->

	<Fragment>
		<ComponentGroup Id="edu.tum.cs.conqat.klocwork">
			<ComponentRef Id="cmpF1E8C864749398EAFB48BC5C5D1BA827" />
			<ComponentRef Id="cmp4E62398EAD3B2F0C93794657E724C714" />
			<ComponentRef Id="cmp998674A516F2E7D8BE2A5C88273872AB" />
			<ComponentRef Id="cmp223A8BD8E9C9A58C2AC5B74916353E47" />
			<ComponentRef Id="cmp33991256DAF7EDB1E1EEFF4BEB231108" />
			<ComponentRef Id="cmpA68A06A4AF91D82F55320E28CAB9C856" />
			<ComponentRef Id="cmpD29EB3B46EE7C3547FBC9A92416CC128" />
			<ComponentRef Id="cmp4B32CABF3498E2575FFA93041AA5EFD3" />
		</ComponentGroup>
	</Fragment>

	<!-- Files and Directories -->

	<Fragment>
		<DirectoryRef Id="bundles">
			<Directory Id="dir144EF3ADC79095B3B567D4AB6E023102" Name="edu.tum.cs.conqat.klocwork">
				<Component Id="cmpF1E8C864749398EAFB48BC5C5D1BA827" Guid="{77AA78FE-ACED-45F2-A65E-DCF60974676A}">
					<File Id="fil71FC493F43AC6CF0256BB3CE4FE9811D" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.klocwork)bundle.html" />
				</Component>
				<Component Id="cmp4E62398EAD3B2F0C93794657E724C714" Guid="{3233788F-37AA-4E57-AE06-AEBBE3382544}">
					<File Id="fil961AFEE1350401968220A26DC8F8A964" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.klocwork)bundle.xml" />
				</Component>
				<Directory Id="dir3E7D6D3CE031FC520DC1E0DEAACDAF8D" Name="classes">
					<Directory Id="dirE3042B15C03B9AFCFA6B60F7040E8988" Name="edu">
						<Directory Id="dir53F7D4F01AAF0CF6C7FF77C2CBFB38A5" Name="tum">
							<Directory Id="dir4A0593F0E60AA3CC4D558289753F2EB8" Name="cs">
								<Directory Id="dir6DC3676B85CE4BD5431934A195A2CA4C" Name="conqat">
									<Directory Id="dirF898022378498A24242879AA4249703F" Name="klocwork">
										<Component Id="cmp998674A516F2E7D8BE2A5C88273872AB" Guid="{3ADAE5D9-F6A1-4052-82F6-D0CAEA365821}">
											<File Id="fil099EC040BE10E316D43BC2B7D67CAF8D" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.klocwork)classes\edu\tum\cs\conqat\klocwork\EKlocworkReportElement.class" />
										</Component>
										<Component Id="cmp223A8BD8E9C9A58C2AC5B74916353E47" Guid="{27695175-60AB-4130-BD17-E0B52420A3F9}">
											<File Id="filAA9724923B3122AD2033C861A062110A" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.klocwork)classes\edu\tum\cs\conqat\klocwork\KlocworkAnalyzer.class" />
										</Component>
										<Component Id="cmp33991256DAF7EDB1E1EEFF4BEB231108" Guid="{1628EFF9-29F4-481A-8418-53F086BABF52}">
											<File Id="fil7881CB05EDBDC86D4D71EAA845A6FED1" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.klocwork)classes\edu\tum\cs\conqat\klocwork\KlocworkProblem.class" />
										</Component>
										<Component Id="cmpA68A06A4AF91D82F55320E28CAB9C856" Guid="{19B34829-8BB5-4DF6-A15F-70F7EF05D950}">
											<File Id="fil76F69892210BE055FC5EDD109ABF32B6" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.klocwork)classes\edu\tum\cs\conqat\klocwork\KlocworkReportReader$1.class" />
										</Component>
										<Component Id="cmpD29EB3B46EE7C3547FBC9A92416CC128" Guid="{2FAEDEAE-CD6B-4B5E-87B4-F4BE607AB908}">
											<File Id="fil603AA9160FF1F1B0AA59A68D3257A9A8" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.klocwork)classes\edu\tum\cs\conqat\klocwork\KlocworkReportReader$ProblemProcessor.class" />
										</Component>
										<Component Id="cmp4B32CABF3498E2575FFA93041AA5EFD3" Guid="{98994110-B316-4FDA-A663-A6127D7D67A3}">
											<File Id="filFA3E299E41FA942A4E5AD7A96F13961C" KeyPath="yes" Source="$(var.Bundle_edu.tum.cs.conqat.klocwork)classes\edu\tum\cs\conqat\klocwork\KlocworkReportReader.class" />
										</Component>
									</Directory>
								</Directory>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>